__Question 1:__
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [11]:
str1 = input("Enter the email address:")
print("Company name of given email address:",str1.split("@")[1].split(".")[0])

Enter the email address:john@google.com
Company name of given email address: google

__Question 2:__
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [18]:
list1 = list(input().split(","))
list1.sort()
# print(list1)
for i in list1:
    print(i, end =",")

without,hello,bag,world
bag,hello,without,world,

__Question 3:__
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

__Set__ is a collection that is unordered and does not allow duplicates

In [72]:
set1 = {1,2,3,4,5,6,6,6,5}
print(set1)

{1, 2, 3, 4, 5, 6}

In [73]:
#To know if an item is in the set
print(1 in set1)

True

In [76]:
#To print the items in set
for i in set1:
    print(i, end=" ")

1 2 3 4 5 6

In [78]:
#adding single item to set
set1.add('letsupgrade')
print(set1)

{1, 2, 3, 4, 5, 6, 'letsupgrade'}

In [83]:
#adding multiple items to set
set1.update(["AI","ML"])
print(set1)

{'ML', 1, 2, 3, 4, 5, 6, 'AI', 'letsupgrade'}

In [84]:
#Removing an item
set1.remove("ML")
print(set1)
#set1.remove("ML") throws an error as ML is already removed

{1, 2, 3, 4, 5, 6, 'AI', 'letsupgrade'}

In [85]:
#Discarding an item
set1.discard("AI")
print(set1)
#set1.discard("AI") does not throw error even AI is discarded

{1, 2, 3, 4, 5, 6, 'letsupgrade'}

In [87]:
#Clearing the set gives an empty set
set1.clear()
print(set1)

set()

In [92]:
#deleting the set completely erases the set 
del set1
#print(set1) # --> throws an error as set1 is deleted

In [91]:
#Union, difference, intersection
set1 = {1,4,7,8,5}
set2 = {2,3,5,4,6}
print(set1.union(set2))
print(set1.difference(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{8, 1, 7}
{4, 5}

__Question 4:__
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [64]:
list1 = list((input().split(" ")))
list2 = list(range(1,len(list1)+1))
list3 = []
for i in list1:
    i = int(i)
    list3.append(i)
set1 = set(list2)
set2 = set(list3)
set3 = (set1-set2)
for j in set3:
    print(j, end=" ")

1 2 3 4 5 6 7 8 9 10 11 13 14 15
12

__Question 5:__
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [71]:
L = list((input().split(" ")))
A = []
for a in L:
    if a not in A:
        A.append(a)
        print(int(a), end =" ")

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155